.info
{
    margin-top:50px;
    background-color: #fff;
    padding:12px;
    margin-right:40px;
    margin-left:50px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    box-shadow: 1px 1px 7px -2px #000;
}
.removebtn
{
    background-color: rgb(0, 102, 255);
    border:none;
    padding:6px 12px;
    color:#fff;
    cursor:pointer;
    font-size:19px;
    font-weight:500;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.removebtn
{
    position: relative;
    left:80%;
}
.information {
    display:block
}