body{
    background-color: rgb(248, 248, 248);
    box-sizing: border-box;
}
.inputBox
{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.inputBox input 
{
    padding:6px 9px;
    width:34%;
    border-radius: 7px 0 0 7px;
    -webkit-border-radius: 7px 0 0 7px;
    -moz-border-radius: 7px 0 0 7px;
    -ms-border-radius: 7px 0 0 7px;
    -o-border-radius: 7px 0 0 7px;
    border:none;
}
.search-btn
{
    background-color: rgb(0, 102, 255);
    border-radius:  0 7px 7px 0;
    -webkit-border-radius:  0 7px 7px 0;
    -moz-border-radius:  0 7px 7px 0;
    -ms-border-radius:  0 7px 7px 0;
    -o-border-radius:  0 7px 7px 0;
    color:#fff;
    cursor:pointer;
    border:none;
}
.roles h5 
{
    text-transform: uppercase;
    margin-bottom:30px;
    margin-top:40px;
    font-weight:bold;
    font-size:29px
}
:focus{
    outline: none;
}