.resister-box
{
    margin-top:50px;
    border:1px solid #000;
    padding:40px 30px 30px 20px;
}
.submitbtn,
.gobtn
{
    margin-top:10px;
    background-color: rgb(0, 102, 255);
    border:none;
    padding:6px 12px;
    color:#fff;
    cursor:pointer;
    font-size:19px;
    font-weight:500;
}
.filed
{
    margin-bottom:10px;
    padding:12px 6px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(204, 204, 204);
    background-color: rgb(248, 248, 248);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.filed:focus {
    border-color: rgb(0, 0, 0)
}
.hook-form
{
    color:red;
    font-weight:500;
    font-size:12px;
    text-transform:uppercase;
}